body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    min-width: 1024px;
}

.sidebar {
    width: 30%;
    border: 1px red solid;
}

.sidebar ul.menu {
    list-style-type: none;
}

.content {
    width: 70%;
    border: 1px green solid;
}