:root {
    --main-theme-color: #c3604f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3 {
    font-weight: 300;
    color: var(--main-theme-color);
}

h1 {
    font-size: 30px;
}

section {
    width: 100%;
}

img {
    max-width: 100%;
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000000;
}

video {
    width: 100%;
    height: auto;
    max-width: 840px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

header .hamburger {
    display: none;
}

ul.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 0;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a i {
    vertical-align: top;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 25px;
}

footer ul.menu li a {
    padding: 10px 5px 10px 5px;
}

ul.menu li a.active .svg-icon path,
ul.menu li a.active .svg-icon polygon,
ul.menu li a.active .svg-icon rect {
    fill: #fff;
}

ul.menu li a.active {
    background-color: var(--main-theme-color);
    color: white;
}

ul.menu li a:hover:not(.active) {
    color: var(--main-theme-color);
}

ul.menu li a:hover:not(.active) .svg-icon path,
ul.menu li a:hover:not(.active) .svg-icon polygon,
ul.menu li a:hover:not(.active) .svg-icon rect {
    fill: var(--main-theme-color);
}

footer ul.menu li a {
    color: black;
    font-size: 16px;
}

.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-items: stretch;
}

.content .box {
    padding: 10px;
    min-width: 30%;
}

.masonry {
    transition: all .5s ease-in-out;
    column-gap: 10px;
    column-fill: initial;
}

.masonry img {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}

.masonry img:hover {
    opacity: .75;
}

button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

button:hover {
    border-color: var(--main-theme-color);
    color: var(--main-theme-color);
}

button:hover .svg-icon path,
button:hover .svg-icon polygon,
button:hover .svg-icon rect {
    fill: var(--main-theme-color);
}

button.green {
    border-color: green;
    color: green;
}

button.green .svg-icon path,
button.green .svg-icon polygon,
button.green .svg-icon rect {
    fill: green;
}

button.green:hover {
    background-color: green;
    color: white;
}

button.red {
    border-color: #cc2a3f;
    color: #cc2a3f;
}

button.red .svg-icon path,
button.red .svg-icon polygon,
button.red .svg-icon rect {
    fill: #cc2a3f;
}

button.red:hover {
    background-color: #cc2a3f;
    color: white;
}

button.red:hover .svg-icon path,
button.red:hover .svg-icon polygon,
button.red:hover .svg-icon rect {
    fill: white;
}

button.orange {
    border-color: orange;
    color: orange;
}

button.orange .svg-icon path,
button.orange .svg-icon polygon,
button.orange .svg-icon rect {
    fill: orange;
}

button.orange:hover {
    background-color: orange;
    color: white;
}

footer, header {
    padding: 0 40px 0 40px;
}

footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        width: 90%;
    }

    .content button {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    header,footer {
        padding: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        min-height: 30px;
    }

    header .hamburger {
        display: block;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    header .hamburger svg path {
        fill: #c3604f;
    }

    header .hamburger svg {
        display: none;
    }

    header .hamburger svg.open.active, header .hamburger svg.close.active {
        display: block;
    }

    ul.menu {
        width: 100%;
        display: none;
        margin-top:40px;
    }

    ul.menu.show {
        display: block;
    }

    ul.menu li {
        text-align: center;
    }

    ul.menu li a {
        border-radius: 0;
    }

    footer ul.menu li {
        padding-top: 5px;
    }

    footer ul.menu li a {
        padding-top: 0;
        text-align: center;
        border-radius: 0;
    }

    footer ul.menu li a i {
        display: block;
    }

    ul.menu li, ul.menu li a {
        width: 100%;
        display: block;
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
        column-count: 3;
    }

    header {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }

    header {
        margin-top: 10px;
    }
}